.bg {
  background-color: $background-color;
}

.bg-alt {
  background-color: $background-alt-color;
}

.bg-img {
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 1020px;
}
