html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.container {
  max-width: $page-width + $page-gutter + $page-gutter;
  width: 100%;
  padding-left: $page-gutter;
  padding-right: $page-gutter;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;

  &-large {
    max-width: 1920px;
  }

  .column {
    flex-direction: column;
  }
}

.col-4 {
  width: 33.33333333%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.block {
  display: block;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.content-center {
  display: flex;
  justify-content: center;
}
