.wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.container {
  max-width: $page-width + $page-gutter + $page-gutter;
  width: 100%;
  padding-left: $page-gutter;
  padding-right: $page-gutter;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-large {
    max-width: 1920px;
  }
}

.col-4 {
  width: 33.33333333%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}