.pb {
  padding-bottom: $page-gutter;
}

.pr {
  padding-right: $page-gutter;
}

.pl {
  padding-left: $page-gutter;
}

.pb {
  padding-bottom: $page-gutter;
}

.pt3 {
  padding-top: $page-gutter * 3;
}

.pb3 {
  padding-bottom: $page-gutter * 3;
}
